/* .container-15 {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    overflow: hidden;
    position: fixed;
    overflow: auto;
    margin: auto;
    height: 100%;
    width: 100%;
}

.form-group {
    width: 100%;
}

.form-group input {
    background-color: #d2d1d1;
    box-shadow: 2px 2px grey;
    border: 2px solid black;
    box-sizing: border-box;
    transition-duration: 0.7s;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

.form-group select {
    background-color: #d2d1d1;
    box-shadow: 2px 2px grey;
    border: 2px solid black;
    box-sizing: border-box;
    transition-duration: 0.7s;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

.container-16 {
    background-color: #fefefe;
    border: 5px solid #888;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 20%;
    padding: 40px;
    width: 15%;
}

.close-form-group {
    margin-bottom: 0px;
    margin-top: -25px;
    margin-left: 90%;
}

.close-form-group button {
    font-family: 'Times New Roman';
    box-shadow: 2px 2px grey;
    background-color: red;
    font-weight: medium;
    font-size: smaller;
    text-align: center;
    cursor: pointer;
    color: white;
    border: none;
    transition-duration: 0.7s;
    border-radius: 5px;
    height: 25px;
    width: 45px;
}

.submit button {
    font-family: 'Times New Roman';
    background-color: #1f4a94;
    box-shadow: 2px 2px grey;
    font-weight: bolder;
    text-align: center;
    font-size: medium;
    cursor: pointer;
    color: white;
    border: none;
    transition-duration: 0.7s;
    border-radius: 10px;
    padding: 10px 20px;
}

.text {
    text-align: center;
    width: 100%;
} */











.container-15 {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group {
    width: 100%;
    margin-bottom: 50px;
}

.form-group input {
    background-color: #d2d1d1;
    box-shadow: 2px 2px grey;
    border: 2px solid black;
    box-sizing: border-box;
    transition-duration: 0.7s;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

.form-group select {
    background-color: #d2d1d1;
    box-shadow: 2px 2px grey;
    border: 2px solid black;
    box-sizing: border-box;
    transition-duration: 0.7s;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

.container-16 {
    background-color: #fefefe;
    border: 5px solid #888;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    border-radius: 10px;
    padding: 40px;
    width: 50%;
    max-width: 500px;
}

.close-form-group {
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 1;
    height: 25px;
    width: 50px;
}

.close-form-group button {
    font-family: 'Times New Roman';
    box-shadow: 2px 2px grey;
    background-color: red;
    font-weight: medium;
    font-size: smaller;
    text-align: center;
    cursor: pointer;
    color: white;
    border: none;
    transition-duration: 0.7s;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.submit button {
    font-family: 'Times New Roman';
    background-color: #1f4a94;
    box-shadow: 2px 2px grey;
    font-weight: bolder;
    text-align: center;
    font-size: medium;
    cursor: pointer;
    color: white;
    border: none;
    transition-duration: 0.7s;
    border-radius: 10px;
    padding: 10px 20px;
}

.text {
    text-align: center;
    width: 100%;
}
